.App {
  text-align: center;
  white-space: nowrap
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  
  text-align: left;
  margin-left: 0;
  display: block;
  position:relative;
  list-style: square;
}

li {
  width: 100%;
  margin-left: 10px;
  font-size: 18px;
  float: left;
  list-style-type: none;   
}

p {
  width: 100%;
  margin: 5px 5px 5px 15px;
  font-size: 18px;
  float: left;
  text-align: left;

}

.details{
  float:left;
  width: 80%;
}

.avatar{
  width: 10%;
  float: left;
  height: 500px
}

h1{
  float: left;
  width: 80%;
  text-align: left;
}

h2{
  font-size: 38px;
  margin-left: 10px;
  float: left;
  width: 100%;
  text-align: left;
}

a{
  text-decoration: none;
}

.check{
  color: green;
  vertical-align:middle;
}

.clear{
  color: red;
  vertical-align:middle;
}

.p1{
  font-weight: bold;
  float: left;
  text-align: left;
}
